body, html {
    height: 100%;
    background-color: #fceedd !important;
}


nav{
    background-color: #494230;

}

.navbar-brand{
  font-family: 'Handlee', cursive;
  font-weight: bolder;
  letter-spacing: 1px;

}

h1{
  font-family: 'Pangolin', cursive;

}

p{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;

}

.bg-brown{
    background-color: #494230d2;
}


div.card {
  background: #94b498c5;
  border: 2px solid #225503;
  min-height: 350px;
  max-height:fit-content;
  padding:1em;
  box-shadow: -1px -1px 20px 0px #000000;
  margin-top:6em;
  margin-bottom:2em;
}


/* heading for container buttons */
.flex-h1 {
  text-align: center;
  padding: .5em;
  margin: 1em 1em;
  font-size:x-large !important;
  font-family: 'Pangolin', cursive;
  font-weight:bolder;
  color:#ffffff;
  letter-spacing: 1px;

  
}



  .parallax-1 {
    /* The image used */
    background-image: url(../images/Sunflower-seedling.jpg);
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax-2 {
     /* The image used */
     background-image: url(../images/sunflower-baby.jpg);
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }

  .parallax-3 {
    /* The image used */
    background-image: url(../images/sunflower-angle-shot.jpg);
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }

  
  
.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/sunflower-close-up.jpg");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: relative;
    color: rgb(244, 233, 233);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    font-weight: bold;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .section{
    padding:25px;
    text-align:center;
    
  }

  .item{
    flex-grow: 1;
    padding:25px;
  }

  .item1{
    padding:25px;
  }


    /* Form styling */
  .form-label{
    font-size:1.25em !important;
    font-weight: bold;
    color:#393838;
    font-family: 'Pangolin', cursive;
    

  }

  .form-text{
    color:#ffffff !important;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;

  }

  .footer {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color:#494230;
    color: #E8D3A9;
    flex-direction: column;
    padding:1em;
   
    
}

.footer-item {
    background: #BCBFA3;
    border-style:double;
    border-color: #E8D3A9;
    border-radius: .25em;
    color: #6e6460;
    font-weight: bold;
    font-size: 1.5em;
    width:100%;
    text-align: center;
    box-shadow: 2px 2px 5px 2px #000000, -1px -1px 2px 1px #ffffff;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    
    
}

.fa-brands{
    color:#ffffff;
    font-size:3em;
    
}

 