body, html {
    height: 100%;
    background-color: #fceedd !important;
}

* {
  box-sizing: border-box;
}


nav{
    background-color: #494230;

}


.navbar-brand{
  display: none;
}

h1{
  font-family: 'Pangolin', cursive !important;
  
}

p{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  /* overflow-wrap: break-word; */

}

.bg-brown{
    background-color: #494230d2;
}


div.card {
  background: #94b498c5;
  border: 2px solid #225503;
  min-height: 350px;
  max-height:fit-content;
  padding:1em;
  box-shadow: -1px -1px 20px 0px #000000;
  margin-top:6em;
  margin-bottom:2em;
}


/* heading for container buttons */
.flex-h1 {
  text-align: center;
  padding: .5em;
  margin: 1em 1em;
  font-size:x-large !important;
  font-family: 'Pangolin', cursive;
  font-weight:bolder;
  color:#d8a20c;
  letter-spacing: 1px;
  background-color:#494230a4;
  border-radius: 1em;
  
}



  .parallax-1 {
    /* The image used */
    background-image: url(../images/Sunflower-seedling-removebg-preview.png);
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax-2 {
     /* The image used */
     background-image: url(../images/sunflower-baby-removebg-preview.png);
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }

  .parallax-3 {
    /* The image used */
    background-image: url(../images/sunflower-angle-shot-removebg-preview.png);
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }

  
  
.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/sunflower-close-up-removebg-preview.png);
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: relative;
    color: rgb(244, 233, 233);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    font-weight: bold;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .section{
    padding:25px;
    text-align:center;
    
  }

  .item{
    flex-grow: 1;
    padding:25px;
  }

  .item1{
    padding:25px;
  }


    /* Form styling */
  .form-label{
    font-size:1.25em !important;
    font-weight: bold;
    color:#393838;
    font-family: 'Pangolin', cursive;
    

  }

  .form-text{
    color:#ffffff !important;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;

  }

  .footer {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color:#494230;
    color: #E8D3A9;
    flex-direction: column;
    padding:1em;
   
    
}

.footer-item {
    background: #BCBFA3;
    border-style:double;
    border-color: #E8D3A9;
    border-radius: .25em;
    color: #6e6460;
    font-weight: bold;
    font-size: 1.5em;
    width:100%;
    text-align: center;
    box-shadow: 2px 2px 5px 2px #000000, -1px -1px 2px 1px #ffffff;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    
    
}

.fa-brands{
    color:#d8a20c;
    font-size:3em;
    
}

/* Make the page responsive */
/* Medium Screens */
@media screen and (min-width: 400px) {
   
  .navbar-brand{
    font-family: 'Handlee', cursive;
    font-weight: bolder;
    letter-spacing: 1px;
    display:flex;
  }

  .flex-container{
      align-items:flex-end;
      column-gap: 1em;
  }

  .flex-h1{
      text-align:right; 
      z-index: 1;
  }

  .flex-item {
      max-width:50%;
      height:100%;
  }

  .footer-item{
      max-width:50%;
      height:100%;

  }

  .footer {
      flex-direction: row;
      
  }

  div.daeron{
      z-index: 1;
      margin-top: 9em;
  }

}

/* Large Screens */
@media screen and (min-width: 768px) {
 
  .flex-container {
      justify-content:flex-end;
  }

  .flex-h1 {
      font-size: x-large !important;
  }

  .flex-item {
      max-width:25%;
      font-size: 2em;
  }

  .footer-item {
      max-width:35%;
  }

  div.daeron {
      z-index: 1;
      margin-top: 9em;
  }

  .accordion{
      max-width: 50%;
      align-self: center;
  }
     
}

@media screen and (max-width:400px) {
 .navbar-brand {
    display: none;
  }
} 